// reset
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

a {
  text-decoration: none;
}

// utilities & variables

.shadow {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
}

.cta-btn {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: gray;
  border-radius: 5px;
  color: white;
  font-weight: 700;

  &:hover {
    background-color: #555;
  }
}

.hidden {
  display: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

// landing section

#landing {
  .navbar {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: solid 1px lightgrey;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;

    .name {
      .mobile-name {
        font-size: 2rem;
        font-weight: 700;
      }

      .desktop-name {
        display: none;
      }
    }

    .nav-links {
      display: none;
    }

    .mobile {
      .menu-header {
        display: flex;
        width: 100%;
        justify-content: flex-end;

        .close-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 2rem;
          width: 2rem;
          background-color: transparent;
          border: transparent;
          border-radius: 3px;
          cursor: pointer;

          &:hover {
            background-color: lightgray;
          }

          .close-svg {
            height: 1.5rem;
            width: 1.5rem;
          }
        }
      }

      .menu-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2rem;
        width: 2rem;
        background-color: transparent;
        border: transparent;
        border-radius: 3px;
        cursor: pointer;

        &:hover {
          background-color: lightgray;
        }

        .menu-svg {
          height: 2rem;
          width: 2rem;
        }
      }

      .mobile-menu {
        position: absolute;
        top: 1rem;
        right: 1rem;
        height: auto;
        background-color: turquoise;
        border-radius: 3px;

        .menu-item {
          height: 2rem;
          display: flex;
          flex-direction: column;
          justify-content: center;

          &:hover {
            background-color: white;
          }

          .nav-link {
            text-decoration: none;
            margin: 0 0.8rem;
            color: black;

            .link-num {
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }

  .intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;

    .intro-pic {
      height: 12rem;
      width: 12rem;
      background-color: gray;
      border-radius: 100px;
      margin-top: 8rem;
      margin-bottom: 2rem;
      overflow: hidden;

      img {
        height: auto;
        max-width: 100%;
      }
    }

    .intro-heading {
      margin-bottom: 30px;
    }

    .intro-subheading {
      margin-bottom: 30px;
    }
  }
}

// projects section

// about section

// contact section

@media (min-width: 640px) {
  // utilities
  // landing section
  // projects section
  // about section
  // contact section
}

@media (min-width: 768px) {
  // utilities
  // landing section

  #home {
    .navbar {
      .name {
        .mobile-name {
          display: none;
        }

        .desktop-name {
          display: block;
          font-size: 2rem;
          font-weight: 700;
        }
      }

      .nav-links {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .nav-link {
          text-decoration: none;
          margin: 0 0.8rem;
          color: black;

          .link-num {
            font-size: 0.8rem;
          }
        }
      }

      .mobile {
        display: none;
      }
    }
  }
  // projects section
  // about section
  // contact section
}

@media (min-width: 1024px) {
  // utilities
  // landing section
  // projects section
  // about section
  // contact section
}

@media (min-width: 1280px) {
  // utilities
  // landing section
  // projects section
  // about section
  // contact section
}

@media (min-width: 1536px) {
  // utilities
  // landing section
  // projects section
  // about section
  // contact section
}
