:root {
  --slate: #1e293b;
  --slate-secondary: #556376;
  --light-slate: #cbd5e1;
  --dark-slate: #0f172a;
  --emerald: #6ee7b7;
  --light-emerald: #a7f3d0;
}

*,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Poppins", sans-serif;
  color: var(--slate);
  background-color: #f6f7fc;
}

header,
main,
footer {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 2rem;
}

a,
.nav-link-item a.github-link,
.cta-button,
.contact-form-submit-button {
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
}

.icon-btn {
  font-size: 0;
}

.svg-icon {
  height: 2rem;
  width: 2rem;
  margin: 0.3rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  max-width: 1024px;
  margin: 0 auto;
  height: 6rem;
  z-index: 1;
  background-color: #f6f7fc;
}

.menu-btn-container,
.close-menu-btn {
  display: flex;
  align-items: center;
}

.nav-link-item,
.cta-button,
.nav-menu-btn,
.close-menu-btn,
.github-link,
.project-card,
.project-card-link-container a,
.contact-information-container,
.contact-form-submit-button,
.clipboard-btn,
.tooltip {
  border-radius: 10px;
  border-color: #c8d3e4;
  box-shadow: 1px 3px 6px #a2a4aa, -3px -3px 6px #fff;
  transition: all 0.2s ease;
}

.nav-link-item:hover {
  color: #44476a;
  text-decoration: none;
}

.navbar nav {
  width: 100%;
}

.tooltip.hide,
.desktop-nav {
  display: none;
}

.mobile-nav {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transition: all 0.4s ease;
}

.mobile-nav.hide {
  opacity: 0;
  right: 100%;
}

.mobile-nav.show {
  right: 0%;
  opacity: 1;
}

.close-menu-btn,
.mobile-nav nav ul,
.mobile-nav nav,
.close-menu-svg,
.close-menu-btn-container {
  background-color: transparent;
}

.close-menu-btn-container {
  margin-bottom: 8rem;
}

.mobile-nav .nav-link-item {
  margin: 1rem 0;
  padding: 1rem 0;
}

.mobile-nav .nav-link-item a,
a.github-link {
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  border-radius: inherit;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--slate);
}

.nav-link-item a:hover {
  color: var(--dark-slate);
}

div > a.github-link {
  border-radius: 10px;
}

a.github-link {
  padding: 0 1rem;
}

.github-link span {
  display: none;
}

#hero {
  margin-top: 10rem;
  height: calc(100vh - 6rem);
}

.pic-container {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pic {
  filter: grayscale(100%);
  display: block;
  width: 12rem;
  height: 12rem;
  border-radius: 0.75rem;
}

.pic-container h1 {
  display: none;
}

.hero-copy h1,
.hero-copy p {
  margin-bottom: 3rem;
}

.hero-copy h1 {
  text-align: center;
}

.hero-copy p,
#skills > p,
#projects > p,
#contact p,
footer div {
  color: var(--slate-secondary);
  font-size: 1.2rem;
}

.skills-list-item,
.project-description {
  color: var(--slate-secondary);
}

.cta-button,
.contact-form-submit-button {
  display: block;
  padding: 0.5rem 2rem;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

section {
  margin-bottom: 3.5rem;
}

#skills h2,
#projects h2,
#contact h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.skills-list {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  row-gap: 1rem;
}

.skills-list-item {
  list-style-type: disc;
}

#skills > p,
#projects > p,
#contact > p {
  margin-bottom: 2rem;
}

.project-card {
  display: block;
  margin-bottom: 3rem;
  border-radius: 0.75rem;
  height: 100%;
}

.project-screenshot-container {
  width: 100%;
  height: 300px;
  background-color: rgb(225, 233, 230);
  margin-bottom: 1rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.project-title,
.project-description {
  margin-bottom: 0.75rem;
  padding: 0 1rem;
}

.project-card-link-container {
  display: flex;
  justify-content: end;
  padding: 1rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.project-card-link-container a {
  padding: 0.5rem 1rem;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.contact-information-container {
  padding: 1rem;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  margin-bottom: 2rem;
}

.contact-information-container h3,
.contact-information-container p {
  margin-bottom: 1.5rem;
}

.contact-information-item a,
.contact-information-item {
  display: flex;
  align-items: center;
}

.contact-information-item {
  margin-bottom: 1.2rem;
}

.contact-information-icon {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 1rem;
}

.contact-information-text {
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
}

.email-text {
  font-size: 0.9rem;
}

.svg-icon-small {
  height: 1.2rem;
  width: 1.2rem;
}

.label-input-container {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.contact-form-input {
  border: 1px solid #e9eaee;
  border-radius: 10px;
  padding: 0.5rem;
  box-shadow: inset 5px 5px 19px #d4d4d9, inset -10px -10px 19px #ffffff;
}

.clipboard-btn {
  position: relative;
  padding: 0.2rem;
}

.tooltip {
  display: flex;
  align-items: center;
}

.tooltip.show {
  position: absolute;
  background-color: #f6f7fc;
  color: var(--dark-slate);
  padding: 0.5rem;
  font-size: 0.5rem;
  top: -20px;
  right: 20px;
  z-index: 20;
}

.clipped {
  border: 2px solid var(--emerald);
}

.textarea {
  height: 300px;
}

.contact-form-input:focus {
  outline: none;
  border-color: var(--emerald);
  box-shadow: 0 0 10px var(--emerald);
  color: var(--slate);
}

.contact-form-submit-button {
  display: block;
  width: 100%;
}

.contact-form-submit-button:hover {
  cursor: pointer;
}

footer {
  border-top: 1px solid var(--light-slate);
  margin-top: 2rem;
  margin-bottom: 1rem;
}

footer div {
  padding: 1rem 0;
  text-align: center;
  font-size: 0.8rem;
}

footer a {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .github-link span {
    display: inline-flex;
    align-items: center;
    margin: 0.2rem;
  }

  #hero {
    display: flex;
    flex-direction: column;
    margin-top: 14rem;
  }

  .pic-container {
    display: flex;
    justify-content: center;
  }

  .pic-container .pic {
    margin-right: 3rem;
  }

  .pic-container h1 {
    display: block;
    font-size: 3rem;
  }

  .hero-copy h1 {
    display: none;
  }

  .hero-copy p {
    padding: 1rem;
  }

  .skills-list {
    grid-template-columns: repeat(3, 33%);
  }
}

@media (min-width: 1024px) {
  .pic {
    width: 200px;
    height: 200px;
  }

  .hero-copy {
    text-align: left;
  }

  h2 {
    text-align: left;
  }

  #contact > div {
    display: flex;
  }

  .contact-information-container {
    width: 35%;
    margin-right: 1rem;
  }

  .contact-form-container {
    width: 65%;
  }
}

/* background-color: #6EE7B7;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg fill-opacity='0.88'%3E%3Ccircle fill='%236EE7B7' cx='50' cy='0' r='50'/%3E%3Cg fill='%236be9c3' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%236aeace' cx='50' cy='100' r='50'/%3E%3Cg fill='%236becd8' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%236fede1' cx='50' cy='200' r='50'/%3E%3Cg fill='%2375eee9' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%237ceef1' cx='50' cy='300' r='50'/%3E%3Cg fill='%2385eff7' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%2390effc' cx='50' cy='400' r='50'/%3E%3Cg fill='%239aefff' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a5f0ff' cx='50' cy='500' r='50'/%3E%3Cg fill='%23b0f0ff' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23bbf0ff' cx='50' cy='600' r='50'/%3E%3Cg fill='%23c5f0ff' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23cff1ff' cx='50' cy='700' r='50'/%3E%3Cg fill='%23d7f1ff' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23dff2ff' cx='50' cy='800' r='50'/%3E%3Cg fill='%23e7f3ff' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23edf4ff' cx='50' cy='900' r='50'/%3E%3Cg fill='%23f2f5fe' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23F6F7FC' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: contain; */
