:root {
  --slate: #1e293b;
  --slate-secondary: #64748b;
  --light-slate: #cbd5e1;
  --dark-slate: #0f172a;
  --emerald: #6ee7b7;
  --light-emerald: #a7f3d0;
}

*,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Poppins", sans-serif;
  color: var(--slate);
}

header,
main,
footer {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 2rem;
}

a {
  text-decoration: none;
}

.nav-link-item a.github-link,
.cta-button {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  max-width: 1024px;
  margin: 0 auto;
  background-color: white;
  height: 6rem;
  z-index: 20;
}

.navbar nav {
  width: 100%;
}

.nav-links-list,
.nav-links-list div {
  display: flex;
  justify-content: center;
}

.nav-link-item {
  margin: 0 0.3rem;
}

.nav-links-list div:last-child li {
  margin: 0 0.3rem;
  padding: 0.5rem;
}

.nav-link-item a {
  width: 100%;
  height: 100%;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--slate-secondary);
}

.nav-link-item a:hover {
  color: var(--dark-slate);
  text-decoration: underline;
}

.nav-link-item a.github-link,
.cta-button,
.contact-form-submit-button {
  border: 1px solid transparent;
  border-top-color: var(--light-slate);
  border-radius: 0.75rem;
  text-decoration: none;
}

.nav-link-item a.github-link:hover,
.cta-button:hover,
.contact-form-submit-button:hover {
  background-color: var(--light-emerald);
}

.nav-link-item a.github-link {
  padding: 0 1rem;
}

.github-link span {
  display: none;
}

.svg-icon {
  height: 1.2rem;
  width: 1.2rem;
  margin: 0.3rem;
}

.svg-icon:hover {
  color: var(--dark-slate);
}

#hero {
  margin-top: 6rem;
}

.pic {
  filter: grayscale(100%);
  display: block;
  width: 5rem;
  height: 5rem;
  border-radius: 0.75rem;
}

.pic-container {
  margin-bottom: 2rem;
}

.hero-copy h1,
.hero-copy p {
  margin-bottom: 1.3rem;
}

.hero-copy p,
#skills p,
.skills-list-item,
#projects p,
#contact p,
footer div {
  letter-spacing: 0.08rem;
  color: var(--slate-secondary);
}

.cta-button,
.contact-form-submit-button {
  display: block;
  padding: 0.5rem 2rem;
  width: 100%;
  text-align: center;
  font-weight: bold;
  background-color: var(--emerald);
}

section {
  margin-bottom: 3.5rem;
}

#skills h2,
#projects h2,
#contact h2 {
  text-decoration: underline;
  margin-bottom: 1rem;
}

.skills-list {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  row-gap: 1rem;
}

.skills-list-item {
  list-style-type: disc;
}

#projects > p,
#contact > p {
  margin-bottom: 2rem;
}

.project-link {
  display: block;
  margin-bottom: 3rem;
}

.project-screenshot-container {
  width: 100%;
  height: 300px;
  background-color: aquamarine;
  border-radius: 0.75rem;
  margin-bottom: 1rem;
}

.project-title,
.project-description {
  margin-bottom: 0.75rem;
}

.contact-information-item a:hover,
.hover {
  text-decoration: underline;
}

.contact-information-container {
  background: linear-gradient(120deg, var(--emerald), #d1fae5);
  color: white;
  padding: 0.75rem;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}

.contact-information-container h3,
.contact-information-container p {
  margin-bottom: 0.75rem;
}

.contact-information-item a,
.contact-information-item {
  display: flex;
}

.contact-information-item {
  margin-bottom: 0.75rem;
}

.contact-information-icon {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 1rem;
}

.contact-information-text {
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
}

.contact-form-container {
  padding: 0.75rem;
}

.label-input-container {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.contact-form-input {
  border: 1px solid var(--light-slate);
  border-radius: 0.75rem;
  padding: 0.5rem;
}

.textarea {
  height: 300px;
}

.contact-form-input:focus {
  outline: none;
  border-color: var(--emerald);
  box-shadow: 0 0 10px var(--emerald);
  color: var(--slate);
}

.contact-form-submit-button {
  display: block;
  width: 100%;
}

.contact-form-submit-button:hover {
  cursor: pointer;
}

footer {
  border-top: 1px solid var(--light-slate);
  margin-top: 2rem;
  margin-bottom: 1rem;
}

footer div {
  padding: 1rem 0;
  text-align: center;
  font-size: 0.8rem;
}

footer a {
  text-decoration: underline;
}

@media (min-width: 450px) {
  .nav-link-item a {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .nav-links-list {
    justify-content: space-between;
  }

  .nav-link-item {
    margin-right: 1rem;
  }

  .github-link span {
    display: inline-flex;
    align-items: center;
    margin: 0.2rem;
  }

  #hero {
    display: flex;
    margin-top: 8rem;
  }

  .pic-container {
    margin-right: 2rem;
  }

  .pic {
    height: 12.2rem;
    width: 10rem;
  }

  .hero-copy {
    margin-right: 2rem;
  }

  .skills-list {
    grid-template-columns: repeat(3, 33%);
  }
}

@media (min-width: 1024px) {
  .pic {
    width: 200px;
    height: 200px;
  }

  .hero-copy {
    text-align: left;
  }

  h2 {
    text-align: left;
  }

  #contact > div {
    display: flex;
  }

  .contact-information-container {
    width: 35%;
    margin-right: 1rem;
  }

  .contact-form-container {
    width: 65%;
  }
}
